---
layout: page
title: 小説
---
<section class="section" id="michael-fragment">
  <h3 class="section__title">ミカエル・フラグメント</h3>
  <div class="section__novel-author">鬼詠雪介</div>
  <p class="section__body">{% include michael-fragment.txt %}</p>
  <a href="{{ "/novel/michael-fragment/table-of-contents.html" | relative_url }}" class="section__button button">目次</a>
</section>
<section class="section" id="lost-fragment">
  <h3 class="section__title">ロスト・フラグメント</h3>
  <div class="section__novel-author">鬼詠雪介</div>
  <p class="section__body">{% include lost-fragment.txt %}</p>
  <a href="{{ "/novel/lost-fragment/table-of-contents.html" | relative_url }}" class="section__button button">目次</a>
</section>
<section class="section" id="mythology-of-four-gods">
  <h3 class="section__title">ミソロジーオブフォーゴッデス</h3>
  <div class="section__novel-author">雪</div>
  <p class="section__body">{% include mythology-of-four-gods.txt %}</p>
  <a href="{{ "/novel/mythology-of-four-gods/table-of-contents.html" | relative_url }}"
    class="section__button button">目次</a>
</section>
<section class="section" id="inheritance-child">
  <h3 class="section__title">インヘリタンスチャイルド</h3>
  <div class="section__novel-author">雪</div>
  <p class="section__body">{% include inheritance-child.txt%}</p>
  <a href="{{ "/novel/inheritance-child/table-of-contents.html" | relative_url }}" class="section__button button">目次</a>
</section>
<section class="section" id="world-creation-log">
  <h3 class="section__title">世創記</h3>
  <div class="section__novel-author">水天久麻</div>
  <p class="section__body">{% include world-creation-log.txt %}</p>
  <a href="{{ "/novel/world-creation-log/table-of-contents.html" | relative_url }}"
    class="section__button button">目次</a>
</section>