<header class="header">
  <h1 class="header__logo"><a href="{{ "/index.html" | relative_url }}" class="header__logo-link">個性派文庫</a></h1> <input
    type="checkbox" name="menu-button" id="menu-button" class="header__menu-button">
  <label class="header__menu-button-label" for="menu-button"><img
      src="{{ "/assets/img/menu_FILL0_wght400_GRAD0_opsz48.png" |relative_url }}" alt=""></label>
  <nav class="header__navigation">
    <ul class="header__item-container">
      <li class="header__item">
        <a class="header__link" href="{{ "/novel.html" | relative_url }}">小説</a>
        <ul class="header__dropdown-list">
          <li class="header__dropdown-list-item"><a class="header__link" href="{{"/novel/michael-fragment/table-of-contents.html" |
              relative_url }}">ミカエル・フラグメント</a></li>
          <li class="header__dropdown-list-item"><a class="header__link" href="{{"/novel/lost-fragment/table-of-contents.html" |
              relative_url }}">ロスト・フラグメント</a></li>
          <li class="header__dropdown-list-item"><a class="header__link" href="{{"/novel/mythology-of-four-gods/table-of-contents.html" |
              relative_url }}">ミソロジーオブフォーゴッデス</a></li>
          <li class="header__dropdown-list-item"><a class="header__link" href="{{"/novel/inheritance-child/table-of-contents.html" |
              relative_url }}">インヘリタンスチャイルド</a></li>
          <li class="header__dropdown-list-item"><a class="header__link" href="{{"/novel/world-creation-log/table-of-contents.html" |
              relative_url }}">世創記</a></li>
        </ul>
      </li>
      <li class="header__item"><a class="header__link" href="{{ "/blog.html" | relative_url }}">ブログ</a></li>
      <li class="header__item"><a class="header__link" href="{{ "/about.html" | relative_url }}">About</a></li>
      <li class="header__item"><a class="header__link" href="{{ "/rule.html" | relative_url }}">利用規約</a></li>
    </ul>
  </nav>
</header>