.full-screen-section {
  width: 100dvw;
  height: 100dvh;
  padding: 10vmin;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  &__wrap{
    width: 100%;
    height: 80%;
  }
  &__title{
    width: 100%;
    margin: 1rem 0;
  }
}