.post-list {
  padding-left: 0;
  height: 100%;
  overflow: clip;

  &__item {
    list-style: none;
    margin: 2rem 0;
  }

  &__time {
    display: block
  }

  &__title {
    display: inline
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__excerpt {
    margin-top: 0.5rem;

    &>p {
      margin: 0;
    }
  }
}