---
---

/*ヘッダー*/
.header {
  position: fixed;
  width: 100vw;
  display: flex;
  padding: 0.5em 1em;
  background-color: #c67700;
  top: 0;
  box-sizing: border-box;
  z-index: 255;
}

.header__logo {
  height: 1em;
  line-height: 1em;
  color: white;
  margin: auto auto auto 0;
}

.header__logo-link{
  color: inherit;
  text-decoration: none;
}

.header__menu-button{
  display: none;
}

.header__menu-button-label{
  display: none;
}

.header__navigation {
  margin: auto 0 auto auto;
}

.header__item-container {
  display: flex;
}

.header__item {
  list-style: none;
  padding-right: 10px;
}

.header__link {
  text-decoration: none;
  color: #F3F2F2;
}

.header__link:hover {
  text-decoration: underline;
}

.header__dropdown-list {
  display: none;
  position: absolute;
  right: 0.5em;
  background-color: #c67700;
  color: #c67700;
  padding: 0.5em;
  box-shadow: 0 0 10px 0 black;
}

.header__dropdown-list-item {
  list-style: none;
  margin-top: 0.25em;
}

.header__item:hover .header__dropdown-list {
  display: block;
}

/*メイン*/

.main{
  padding-top: 3.5em;
  background-color: #F3F2F2;
}

.main__title{
  margin: 5vw;
  border-width: 0 0 2px 0;
  border-style:solid;
  border-color: #945400;
}

.section{
  width: 100vw;
  padding: 5vw;
  background-color: #F3F2F2;
  box-sizing: border-box;
}

.section__novel-author{
  text-align: right;
}

.section__body{
  margin: 0.5em 0 0.5em 0.5em;
}

.section__button{
  margin: auto 0 auto auto;
}

.full-screen-section{
  width: 100vw;
  height: 100vh;
  padding: 10vmin;
  align-items: center;
  display: flex;
  background-color: #F3F2F2;
  box-sizing: border-box;
}

.full-screen-section__wrap{
  width: 100%;
  height: 80%;
}

.full-screen-section__title{
  width: 100%;
  margin: 1em 0;
}

.first-section{
  display: flex;
  align-items: center;
  background-size:cover;
  background-position: right bottom;
  background-image: url({{ "/assets/img/top-page.webp" | relative_url }});
}

.first-section__wrap{
  padding: 1em;
  color: #000000;
  text-shadow: 0 0 10px #ffffff;
  background-color: #f3f2f2d5;
}

.first-section__title{
}

.first-section__body{
  width: 12em;
}

.slider{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: #c67700;
  height:70%;
}

.slider__item{
  scroll-snap-align: start;
  flex-shrink: 0;
  margin: 0.5em;
}

.card{
  width: 20em;
  padding: 0.5em;
  background-color: #F3F2F2;
  position: relative;
}

.card__title{
  text-align: center;
  margin: 0.75em auto;
}

.card__author{
  text-align: right;
}

.card__body{
  height: 70%;
  text-overflow: ellipsis;
  margin: 0.75em auto;
}

.card__button{
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.button{
  display: block;
  padding: 0.5em 1em;
  background-color: #945400;
  color: #F3F2F2;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: max-content;
}

.button:hover{
  background-color: #b66700;
}

/*フッター*/
.footer {
  background-color: #c67700;
  padding: 3vmax 5vmax;
  color: #F3F2F2;
}

.footer__lists-container {
  display: flex;
  flex-wrap: wrap;
}

.footer__lists {
  margin-right: 10%;
  margin-bottom: 5%;
}

.footer-list__item {
  list-style: none;
  margin-left: 1em;
}

.footer-list__link {
  text-decoration: none;
  color: white;
}

.footer-list__link:hover {
  text-decoration: underline;
}

@media screen and (max-width:480px) {
  .header__navigation{
    display: none;
  }
  .header__menu-button{
    display: none;
  }
  .header__menu-button-label{
    display: block;
    height: 100%;
  }
  .header__item{
    width: 100%;
  }
  .header__item-container{
    display: block;
    text-align: center;
    width: 100%;
  }
  .header__menu-button:checked ~ .header__navigation{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 90vh;
    align-items: center;
    background-color: #b66700c2;
    text-shadow: 0 0 10pt #000000;
  }
  .section{
    padding: 3vw;
  }
  .full-screen-section{
    padding: 5vmin;
  }
  .card{
    width: 90%;
  }
}