---
---
:root{
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  writing-mode: vertical-rl;
  overflow: hidden;
  font-size: 16px;
  display: flex;
  align-items: center;
}
body{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  line-height: 1.8;
}
.novel{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.novel__wrap{
  max-height: 40em;
  margin: auto 0 auto 50vw;
}
.novel__title{
  width: 100vw;
  display: flex;
  align-items: center;
}
.novel li{
  list-style: none;
}
.novel a{
  color: inherit;
  text-decoration: none;
}